@model IMTestProject.Common.Dto.Continent.AddContinentDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Create Continent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @{int count = 0;
            }
            @foreach (var item in Model.TableConfigurationDtos)
            {

            <input type="hidden" asp-for="@Model.TableConfigurationDtos[count].Id" value="@Model.TableConfigurationDtos[count].Id" />
                <input type="hidden" asp-for="@Model.TableConfigurationDtos[count].ControlType" value="@Model.TableConfigurationDtos[count].ControlType" />
                <input type="hidden" asp-for="@Model.TableConfigurationDtos[count].DataType" value="@Model.TableConfigurationDtos[count].DataType" />
                <input type="hidden" asp-for="@Model.TableConfigurationDtos[count].DisplayName" value="@Model.TableConfigurationDtos[count].DisplayName" />
                <input type="hidden" asp-for="@Model.TableConfigurationDtos[count].Name" value="@Model.TableConfigurationDtos[count].Name" />
                <input type="hidden" asp-for="@Model.TableConfigurationDtos[count].additionalInformationDto.TableConfigurationId" value="@Model.TableConfigurationDtos[count].Id" />


                if (Convert.ToInt32(item.ControlType) == (int)IMTestProject.Common.Enum.ControlTypeEnum.TextBox)
                {
                    <div class="form-group">
                        <label asp-for="@item.additionalInformationDto.Value" class="control-label">@item.DisplayName</label>
                        <input asp-for="@Model.TableConfigurationDtos[count].additionalInformationDto.Value" class="form-control" />
                    </div>
                }
                if (Convert.ToInt32(item.ControlType) == (int)IMTestProject.Common.Enum.ControlTypeEnum.DateTime)
                {
                    <div class="form-group">
                        <label asp-for="@item.additionalInformationDto.Value" class="control-label ">@item.DisplayName</label>
                        <input asp-for="@Model.TableConfigurationDtos[count].additionalInformationDto.Value" class="datepicker form-control" />
                    </div>
                }
                count++;
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    $('.datepicker').datepicker();
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

